::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:#333333;
  }
.body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:#333333;
    color:white;
    font-size: 30px;
    height:70px;
    font-size: 24px;
    cursor: pointer;
}
.right{
   width:105px;
   margin-left: 200px;
   font-weight: 700;
   color: white;
}
.right:hover{
    color:#CCCCCC;
}
.left{
    display: flex;
    flex-direction: row;
    margin-right: 200px;
    justify-content:space-between ;
    width:140px;
    color:#CCCCCC;
    font-size: 20px;
}
.home:hover,.login:hover{
    color:white;
}
.top-text{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-top: 130px;
}
.top-title{
    font-size: 40px;
    font-weight: 700;
}
td:nth-child(5) .delete{
    background-color: #D43F3A;
    border: none;
}
td:nth-child(5) .delete:hover{
    background-color: #ad0c0a;
}
td:nth-child(5) .update{
    background-color: #0275D8;;
    border: none;
    padding: 4px 15px;
    margin-right:10px;
}
td:nth-child(5) .update:hover{
    background-color:  #004f95;
}

.bottom-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:300px;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 8px;
    
   
}
.add-new-item,.logout{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:6px 15px 6px 15px;
    border-radius: 5px;
    color: white;
    border:none;
    cursor: pointer;
    transition-duration: 0.4s;

}
.fa{
    margin-right: 8px;
}
.add-new-item{
    
    background-color: #5CB85C;

}
.add-new-item:hover{
    background-color: #3e8e41;
}
.logout{
    border: 2px solid;
    color: black;
    border-color: #CCCCCC;
    background-color:white;
}
.logout:hover{
    background-color: #333333;
    color:white;
}
#inventorytable.table {
   width:1100px;
   margin-left:10px;
}
.dataTables_length {
    float: left; 
    margin-left:480px;
    margin-top: -68px;
    font-size: 13px;
    
}
.table.table thead th{
   background-color: #CCCCCC;
    
}
.table.table tbody td{
    padding-left: 20px;
}
.dataTables_filter {
    float: right; 
    margin-right: 168px;
    margin-left:500px;
    margin-top: -70px;
    font-size: 13px;
}
.products {
    display: flex;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 30px;
    margin-top:20px ;
    width: 100px;
    padding: 10px 30px;
    position: relative; /* Make the position relative */
    border: 1px solid black; /* Add border */
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.products::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 90px; /* Set left to -10px to maintain the 10px border */
    width: 1010px; /* Set the width of the pseudo-element */
    height: 0.5px; /* Set the height to represent the border */
    background-color: black; /* Set the color of the border */
}

.dataTables_paginate {

    clear: both; 
    margin-top:-25px;
    margin-right: 150px;
    font-size: 13px;
}
.dataTables_info{
    margin-left:10px;
    margin-top: 5px;
    font-size: 13px;
    
    
}
.footers{
    display: flex;
    flex-direction: row;
    margin-left: -200px;
    background-color: #F5F5F5;
    margin-top: 250px;
     padding-left: 200px;
     height: 70px;
     align-items: center;
     cursor: pointer;
     

}
.text-footer{
    transition-duration: 0.4s;
    padding-left: 200px;
}
.text-footer:hover{
    font-weight: 500;
}